/*Colors*/
/*Typography*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*Headings, Call-to-actions, Header Navigation*/
/*Body*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  resize: both;
}

body, html {
  background-color: #181f2a;
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-family: "Open Sans";
}

.main-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1000px 800px 700px 250px 300px 500px;
  grid-template-areas: "intro" "benefits" "productive" "testimonial" "email-signup" "footer";
  gap: 100px;
}

.main-wrapper section, .main-wrapper footer {
  width: 100%;
  padding: 0 5%;
}

.main-wrapper .intro {
  grid-area: intro;
  background-color: #1c2431;
  background-image: url(images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.main-wrapper .intro nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Raleway;
}

.main-wrapper .intro nav img {
  max-width: 30%;
}

.main-wrapper .intro nav ul {
  list-style: none;
}

.main-wrapper .intro nav ul li {
  display: inline;
}

.main-wrapper .intro nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 1em;
}

.main-wrapper .intro nav ul li a:hover, .main-wrapper .intro nav ul li a :focus {
  text-decoration: underline;
}

.main-wrapper .intro header {
  max-width: 100%;
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.main-wrapper .intro header img {
  max-width: 100%;
}

.main-wrapper .intro header h1 {
  font-weight: 700;
  font-size: 45px;
  font-family: Raleway;
}

.main-wrapper .intro header .intro-text {
  width: 60%;
}

.main-wrapper .intro header .link a {
  text-decoration: none;
  color: white;
  padding: 15px 100px;
  background-color: #339ecc;
  border-radius: 20px;
  font-family: Raleway;
}

@media screen and (max-width: 480px) {
  .main-wrapper .intro {
    background-image: url(images/bg-curvy-mobile.svg);
  }
  .main-wrapper .intro header {
    width: 100% !important;
  }
  .main-wrapper .intro header h1 {
    font-size: 30px;
  }
  .main-wrapper .intro header .intro-text {
    width: 100%;
  }
}

.main-wrapper .benefits {
  grid-area: benefits;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.main-wrapper .benefits .ben-wrapper-top, .main-wrapper .benefits .ben-wrapper-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main-wrapper .benefits .ben-wrapper-top div, .main-wrapper .benefits .ben-wrapper-bottom div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.main-wrapper .benefits .ben-wrapper-top div img, .main-wrapper .benefits .ben-wrapper-bottom div img {
  height: 25%;
  width: 25%;
}

@media screen and (max-width: 480px) {
  .main-wrapper .benefits {
    padding-top: 0;
  }
  .main-wrapper .benefits .ben-wrapper-top div, .main-wrapper .benefits .ben-wrapper-bottom div {
    width: 100%;
  }
}

.main-wrapper .productive {
  grid-area: productive;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-wrapper .productive div {
  border-radius: 8px;
}

.main-wrapper .productive .illustration-wrapper {
  width: 55%;
}

.main-wrapper .productive .illustration-wrapper img {
  width: 100%;
  max-width: 100%;
}

.main-wrapper .productive .productive-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper .productive .productive-text h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: Raleway;
  line-height: 1.5;
}

.main-wrapper .productive .productive-text p {
  margin-top: 20px;
  line-height: 2;
}

.main-wrapper .productive .productive-text p a {
  color: #65e2d9;
  font-family: Raleway;
}

.main-wrapper .productive .productive-text p a img {
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  .main-wrapper .productive {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-wrapper .productive .illustration-wrapper {
    width: 100%;
  }
  .main-wrapper .productive .productive-text {
    width: 100%;
  }
  .main-wrapper .productive .productive-text h2 {
    font-size: 25px;
  }
}

.main-wrapper .testimonial {
  grid-area: testimonial;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 80px 0;
}

.main-wrapper .testimonial .singles {
  width: 30%;
  border-radius: 8px;
  background-color: #202a3c;
  height: 85%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-wrapper .testimonial .singles .bio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 30%;
}

.main-wrapper .testimonial .singles .bio img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-wrapper .testimonial .singles .bio p {
  font-weight: 700;
}

.main-wrapper .testimonial .singles .bio p span {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .main-wrapper .testimonial {
    padding-top: 10px;
    background-position: top left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .main-wrapper .testimonial .singles {
    width: 100%;
    height: 30%;
  }
}

.main-wrapper .email-signup {
  grid-area: email-signup;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-wrapper .email-signup .signup-wrapper {
  background-color: #1c2431;
  width: 60%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5%;
  z-index: 1;
  margin-bottom: -230px;
}

.main-wrapper .email-signup .signup-wrapper h2 {
  font-weight: 700;
  font-size: 30px;
  font-family: Raleway;
}

.main-wrapper .email-signup .signup-wrapper .input-wrapper {
  width: 100%;
}

.main-wrapper .email-signup .signup-wrapper .input-wrapper form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .email-signup .signup-wrapper .input-wrapper form input {
  width: 60%;
  height: 60px;
  border-radius: 20px;
  padding: 0 20px;
}

.main-wrapper .email-signup .signup-wrapper .input-wrapper form input:invalid {
  color: red;
}

.main-wrapper .email-signup .signup-wrapper .input-wrapper form button {
  width: 35%;
  padding: 20px 0;
  border-radius: 20px;
  background-color: #339ecc;
  color: white;
  cursor: pointer;
  font-family: Raleway;
}

.main-wrapper .email-signup .signup-wrapper .input-wrapper form button:hover {
  background-color: #65e2d9;
}

@media screen and (max-width: 480px) {
  .main-wrapper .email-signup .signup-wrapper {
    width: 100%;
  }
  .main-wrapper .email-signup .signup-wrapper .input-wrapper form {
    flex-direction: column;
    justify-content: space-between;
  }
  .main-wrapper .email-signup .signup-wrapper .input-wrapper form input {
    width: 100%;
    height: 40px;
  }
  .main-wrapper .email-signup .signup-wrapper .input-wrapper form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
  }
}

.main-wrapper .footer {
  grid-area: footer;
  background-color: #0b1523;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-wrapper .footer .foot-content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main-wrapper .footer .foot-content .location {
  width: 20%;
}

.main-wrapper .footer .foot-content .location ul {
  padding: 0;
  margin-left: 20px;
}

.main-wrapper .footer .foot-content .location ul li {
  list-style-image: url(images/icon-location.svg);
}

.main-wrapper .footer .foot-content .contact {
  width: 15%;
}

.main-wrapper .footer .foot-content .contact ul {
  padding: 0;
  margin-left: 30px;
  line-height: 3;
}

.main-wrapper .footer .foot-content .contact ul .call {
  list-style-image: url(images/icon-phone.svg);
}

.main-wrapper .footer .foot-content .contact ul .call a {
  font-family: Raleway;
  color: white;
  text-decoration: none;
}

.main-wrapper .footer .foot-content .contact ul .call a:hover {
  font-weight: 700;
}

.main-wrapper .footer .foot-content .contact ul .email {
  list-style-image: url(images/icon-email.svg);
}

.main-wrapper .footer .foot-content .contact ul .email a {
  font-family: Raleway;
  color: white;
  text-decoration: none;
}

.main-wrapper .footer .foot-content .contact ul .email a:hover {
  font-weight: 700;
}

.main-wrapper .footer .foot-content .about {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main-wrapper .footer .foot-content .about ul {
  width: 40%;
  line-height: 3;
}

.main-wrapper .footer .foot-content .about ul li {
  list-style: none;
}

.main-wrapper .footer .foot-content .about ul li a {
  font-family: Raleway;
  color: white;
  text-decoration: none;
}

.main-wrapper .footer .foot-content .about ul li a:hover {
  font-weight: 700;
}

.main-wrapper .footer .foot-content .socials ul {
  margin-top: 10px;
}

.main-wrapper .footer .foot-content .socials ul li {
  list-style: none;
  display: inline;
}

.main-wrapper .footer .foot-content .socials ul li a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 15px;
  margin-left: 10px;
}

.main-wrapper .footer .foot-content .socials ul li a:hover {
  color: #65e2d9;
  border: 1px solid #65e2d9;
}

.main-wrapper .attribution {
  text-align: center;
  font-size: 16px;
}

.main-wrapper .attribution span {
  color: #ff4242;
}

.main-wrapper .attribution a {
  color: #65e2d9;
}

@media screen and (max-width: 480px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 800px 1000px 800px 800px 400px 1000px;
    grid-template-areas: "intro" "benefits" "productive" "testimonial" "email-signup" "footer";
    gap: 50px;
  }
  .main-wrapper .footer .foot-content {
    height: 70%;
    flex-direction: column;
  }
  .main-wrapper .footer .foot-content .location, .main-wrapper .footer .foot-content .socials, .main-wrapper .footer .foot-content .about, .main-wrapper .footer .foot-content .contact {
    width: 100%;
  }
  .main-wrapper .footer .foot-content .about {
    flex-direction: column;
    justify-content: center;
    height: min-content;
  }
  .main-wrapper .footer .foot-content .socials {
    text-align: center;
    margin-bottom: 20px;
  }
  .main-wrapper .footer .foot-content .socials ul {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */